* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	overflow:	scroll;
	min-width: 1350px;
	background-color: #2b2b2b;
	font-family: "source sans pro", arial;
}

h1, h2, h3 {
	color: #fff;
	margin: 10px 0px 10px 30px;
	text-shadow: 1px 1px 1px #000;
}
h1 {
	font-size: 36px;
	letter-spacing: 1px;
}
h2 {
	margin-bottom: 30px;
	font-size: 20px;
	font-weight: 400;
	color: #f2f2f2;
	letter-spacing: 1px;
}
h3 { 
	font-size: 16px;
	font-weight: 400;
	color: #cddce0;
	padding-bottom: 30px;
}
h4 {
	margin: 20px 10px 10px 2px;
	font-family: "unica one", arial, sans-serif;
	font-size: 14px;
	color: #ffdc48;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}
p{	
	font-size: 12px;
	letter-spacing: 1px;
}

/* Button Styles */
.buttons { 
	display: inline-block;
	margin-left: 30px;
	margin-right: 70px;
}
/* FF float hack*/
@-moz-document domain(ajfarkas.com) { 
  .buttons { 
  	display: block; 
  	float: left;
  }
}

button {
	display: block;
	width: 285px;
	height: 28px;
	border: 2px solid #2b2b2b;
	border-radius: 4px;
	background-color: #515151;
	font-family: "source sans pro", arial;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	letter-spacing: 1px;
	text-shadow: 1px 1px 0px #000;
}
button:hover { background-color: #0B8C92;
}
button:focus {
	outline: none;
	background-color: #6ac1c6;
	color: #000;
	text-shadow: none;
}

.buttonOn { background-color: #6ac1c6;
}
.clear-all {
	border: 2px solid peru;
	background-color: #2b2b2b;
	color: #fff;
}
.clear-all:hover, .clear-all:focus { 
	background-color: peru;
}

/* SVG styles */
.graph { display: inline-block;
}

svg {
	width: 933.333px;
	height: 878.947px;
}
#BACKGROUND rect { fill: transparent;
}
/* Background Node Circles */
#nodes_2_ circle {
	z-index: 2;
	/*expand clickable area*/
	stroke-width: 20px;
	stroke: transparent;
}
*:not(#nodes_2_) > circle { z-index: 3;
}

/* SVG Lines */
*:not(#edges_2_) > path {
	stroke-width: 1px;
}
path[name="node-on"] {
	stroke-width: 2;
	stroke: #0058be;
}

svg text {
	font-family: "avenir", "source sans pro", arial;
	font-size: 12px;
	letter-spacing: 1px;
}

footer { 
	margin: 20px;
	text-align: right;
	color: #999;
}
